BOT_TOKEN=
PG_DSN=
HH_BASE_URL=https://api.hh.ru
HH_TOKEN=
HH_USER_AGENT=VacancyBot/0.1
FL_RSS_URL=https://www.fl.ru/rss/all.xml?category=5
FL_USER_AGENT=VacancyBot/0.1
FREELANCE_RU_SEARCH_URL=https://www.freelance.ru/project/search
FREELANCE_RU_USER_AGENT=VacancyBot/0.1
FREELANCE_RU_OPEN_FOR_ALL_ONLY=1
ENABLE_FL_SOURCE=1
ENABLE_FREELANCE_RU_SOURCE=1
REQUEST_TIMEOUT=15
FETCH_ATTEMPTS=3
MAX_SEEN_PER_USER=500
AUTO_PUSH_ENABLED=1
AUTO_PUSH_INTERVAL_SECONDS=300
AUTO_PUSH_MAX_PER_CYCLE=3
VACANCY_CACHE_SIZE=15
PER_SOURCE_CACHE=15
VACANCY_CACHE_TTL=600
HH_PAGE_RANGE=4
MATCH_THRESHOLD=0.5
SKILLS_SAMPLE_RATIO=0.5
